<!DOCTYPE HTML>
<html>
	<head>
		<title>Home</title>
		<link rel="stylesheet" type="text/css" href="/main.css">
		<link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">
	</head>
	<body>
		<div>
			<div class="header">
				<div>
					<a href="/"><img class="icons" src="images/Logo.png" alt="Logo"></a>
					<a href="/" class="header-text"><h1>Meet Your City</h1></a>
					<a href="/logout"><img class="icons header-right" src="images/Logout.png" alt="Logout" width="30px" height="30px"></a>
					<a href="/profil"><img class="icons header-right" src="images/Profil_minimal.png" alt="Profil" width="30px" height="30px"></a>
					<a href="/neue_Veranstaltung"><img class="icons header-right" src="images/NewEvent.png" alt="Neue Veranstaltung" width="30px" height="30px"></a>
				</div>
			</div>

			<div class="content">
				<h1>Willkommen zurück!</h1>
			<div>
				<table>
				<% for(var i = 0; i < rows.length; i++) { %>
						<tr>
								<td> <a href="<%= "/veranstaltung_unterseite/" + rows[i].id %>" method="get"><%= rows[i].eventname %></a></td>
								<td> <%= rows[i].eventlocation %> </td>
								<td> <%= rows[i].date %> </td>
								<td> <%= rows[i].time %> </td>
						</tr>
				<%}%>
				</table>
		<!--		<a href="/veranstaltung_unterseite">Hier steht eine Veranstaltung</a> -->
			</div>
		</div>
	</body>
</html>

<!-- Header: Profilbutton, Ausloggenbutton, Event erstellen-Button

	"Events":
		- Markierte events
		- Eventvorschläge

	"Checkboxen zum filtern"
-->
