<!DOCTYPE HTML>
<html>
	<head>
		<title>Veranstaltung</title>
		<link rel="stylesheet" type="text/css" href="/main.css">
		<link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">
	</head>
	<body>
		<div>
			<div class="header">
				<div>
					<a href="/home" class="tooltip"><img class="icons" src="/images/Logo.png" alt="Logo"><span class="tooltiptext">Zur Startseite</span></a>
					<a href="/home" class="tooltip header-text"><h1>Meet Your City</h1><span class="tooltiptext">Zur Startseite</span></a>
					<a href="/logout" class="tooltip header-right"><img class="icons" src="/images/Logout.png" alt="Logout" width="30px" height="30px"><span class="tooltiptext">Logout</span></a>
					<a href="/profil" class="tooltip header-right"><img class="icons" src="/images/Profil_minimal.png" alt="Profil" width="30px" height="30px"><span class="tooltiptext">Profil</span></a>
					<a href="/neue_Veranstaltung" class="tooltip header-right"><img class="icons" src="/images/NewEvent.png" alt="Neue Veranstaltung" width="30px" height="30px"><span class="tooltiptext">Event erstellen</span></a>
				</div>
			</div>
		</div>
		<div>
			<img class="banner" src="/images/EventBackground.jpeg" alt="Eventbanner">
		</div>
		<div class="content flex">
			<div class="col image-overlap">
				<img class="image" src="/images/EventPlaceholder.png" alt="Eventbild" width="200px" height="200px">
				<br>
			</div>
			<div class="col2">
				<div class="heading-pos">
					<h1><%= row.eventname%></h1>
				</div>
				<div class=" tooltip margin-between">
					<img class="icon-pos" src="/images/Location.png" alt="Location" width="30px" height="30px"><span class="tooltiptext">Location</span>
					<%= row.eventlocation%>
				</div>
				<br>
				<div class=" tooltip margin-between">
					<img class="icon-pos" src="/images/Date.png" alt="Date" width="25px" height="25px"><span class="tooltiptext">Datum</span>
			 		<%= row.date%>
				</div>
				<br>
				<div class=" tooltip margin-between">
					<img class="icon-pos" src="/images/Time.png" alt="Time" width="25px" height="25px"><span class="tooltiptext">Zeit</span>
					<%= row.time%> Uhr
				</div>
				<br>
				<div>
					<div class=" tooltip margin-between">
						<img class="icon-pos" src="/images/Info.png" alt="Info" width="25px" height="25px"><span class="tooltiptext">Info</span>
						<%= row.eventinfo%>
					</div>
				</div>
				<div class=" tooltip margin-between">
					<img class="icon-pos" src="/images/Tag.png" alt="Tag" width="25px" height="25px"><span class="tooltiptext">Thema</span>
					<%= row.eventtag%>
				</div>
 				<br>
				<div class="button-pos flex col-half">
					<div>
						<form action="/merken" method="post">
							<button type="submit" name="eventId" value="<%= row.id%>">&#9733; Auf Merkliste setzen</button>
						</form>
					</div>
					<div>
						<form action="/deleteEvent" method="post">
							<button type="submit" name="delete" value="<%= row.id%>">&#x2716; Event löschen</button>
						</form>
					</div>
				</div>
			</div>
		</div>
			<div>
				<div class="contentfooter">
					<div>
						<p>Nina Paartz | Joseffa Steuernagel | Friederike Fröhlich | Angewandte Programmierung | WiSe 18/19</p>
					</div>
				</div>
		</div>
	</body>
</html>
