<!DOCTYPE HTML>
<html>
	<head>
		<title>Veranstaltung</title>
		<link rel="stylesheet" type="text/css" href="/main.css">
		<link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">
	</head>
	<body>
		<div>
			<div class="header">
				<div>
					<a href="/"><img class="icons" src="/images/Logo.png" alt="Logo"></a>
					<a href="/" class="header-text"><h1>Meet Your City</h1></a>
					<a href="/logout"><img class="icons header-right" src="/images/Logout.png" alt="Logout" width="30px" height="30px"></a>
					<a href="/profil"><img class="icons header-right" src="/images/Profil_minimal.png" alt="Profil" width="30px" height="30px"></a>
					<a href="/neue_Veranstaltung"><img class="icons header-right" src="/images/NewEvent.png" alt="Neue Veranstaltung" width="30px" height="30px"></a>
				</div>
			</div>
			<div class="content">
				<h2>Veranstaltung: <%= row.eventname%></h2>
				<div>
					Location: <%= row.eventlocation%>
				</div>
				<div>
				 Datum:	<%= row.date%>
				</div>
				<div>
					Uhrzeit: <%= row.time%>
				</div>
				<div>
					Beschreibung: <%= row.eventinfo%>
				</div>
				<div>
					Tag: <%= row.eventtag%>
				</div>
 <br>
				<div>
					<form action="/merken" method="post">
						Merken:<br>
						<button type="submit" name="eventId" value="<%= row.id%>" style="background-color:transparent; border-color:transparent;">
  						<img class="icons header-left" src="/images/book.png" alt="Merken" width="25px" height="25px"/>
						</button>
					</form>
				</div>

				<br>

				<div>
	        <a href="/">Zurück</a>
	      </div>

			</div>
		</div>
	</body>
</html>
